body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: normal;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  display: inline-flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

/*

div {
    border: 1px white solid;
}

*/

header .container {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 69px;
  margin: 0 auto;
  border-bottom: 1px solid seashell;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: black;
  margin: 0 auto;
}

.header-logo img {
  height: 50px;
  margin-left: 10px;
}

.header-nav {
  /*text-decoration: underline;*/
  margin-right: 10px;
}

nav span {
  padding-left: 20px;
  font-weight: lighter;
  display: inline-block;
}

a:link {
  color: white;
}

main {
  top: 57px;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  align-items: flex-start;
  height: 100%;
}

.part-1 {
  height: 700px;
  width: 100%;
  background-image: url("img-mission-background.jpg");
  position: relative;
  display: inline-flex;
}

.part-1 div {
  width: 100%;
  background-color: black;
  position: relative;
  align-self: center;
}

.part-2 {
  width: 1000px;
  display: inline-flex;
  flex-direction: column;
}

.part-2 .teas-of-the-month {
  width: 100%;
  background-color: black;
  margin-top: 100px;
}

.part-2 .tea-types {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.part-2 .tea-types img {
  height: 200px;
  width: 300px;
  margin: 0 auto;
}

.part-2 .tea-types .spiced-rum {
  margin: 0 50px;
}

.part-2 .tea-types .myrtle-ave {
  margin-right: 50px;
}

.part-3 {
  width: 1200px;
  height: 500px;
  display: inline-flex;
  flex-direction: column;
  background-image: url("img-locations-background.jpg");
  background-size: cover;
  background-position: 0px -50px;
}

/*

.part-3 div {
    border: 1px white solid;
}

*/

.part-3 .locations {
  width: 100%;
  margin-top: 50px;
}

.part-3 .three-locations div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
  flex-wrap: wrap;
  background-color: black;
  opacity: 1;
}
.part-3 .three-locations .east-bayside {
  margin: 0 40px;
}

footer {

}
